/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
    /*===== Color base =====*/
    --hue-color: 188;

    /* HSL Color Mode */
    --transparent-color: hsla(0, 0%, 0%, 0.3);
    --skin-color: hsl(230, 56%, 72%);
    --title-color: hsl(var(--hue-color), 69%, 14%);
    --text-color: hsl(var(--hue-color), 69%, 18%);
    --body-color: hsl(var(--hue-color), 66%, 77%);
    --box-color: hsl(var(--hue-color), 14%, 10%);

    /*===== Font and Typography =====*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*===== Font Weight =====*/
    --font-medium: 500;
    --font-bold: 600;





    --modal-duration: 1s;
  --primary-color: #111112;
  --secondary-color: #518676;
  --border-color: rgba(200, 255, 200, 0.1);
  --clear-color: #ebebec;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --overlay-color: rgba(0, 0, 0, 0.6);

    
}
/*=============== GENERAL ===============*/

* {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  

  body {
    background-color: var(--body-color);
    font-family: "Lato", sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
    
  }
  
  body.show-nav {
    transform: translateX(200px); /* nav width */
  }
  
  /*=============== NAVBAR ===============*/

  nav {
    background-color: var(--transparent-color);
    border-right: 2px solid var(--border-color);
    color: var(--clear-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh; /* Asegura el 100% de la altura de la ventana */
    z-index: 100;
    transform: translateX(-100%);
    overflow-y: auto; /* Por si el menú crece más que la pantalla */
  }
  
  
  nav .logo {
    padding: 30px 0;
    text-align: center;
  }
  
  nav .logo img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  
  nav ul li {
    border-bottom: 2px solid var(--border-color);
    padding: 20px;
  }
  
  nav ul li:first-of-type {
    border-top: 2px solid var(--border-color);
  }
  
  nav ul li a {
    color: var(--title-color);
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  .content {
    margin-left: 40px; /* Deja espacio para el nav */
    height: 100vh;
    overflow-y: auto; /* Solo el contenido scrollea */
  }

  header {
    background-color: var(--body-color);
    color: #fff;
    font-size: 130%;
    padding: 40px 15px;
    text-align: center;
  }
  button,
  input[type="submit"] {
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
  }
  
  button:focus {
    outline: none;
  }
  
  .toggle {
    background-color: var(--transparent-color);
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .container img {
    width: 100%;
  }

  /*=============== LOGIN ===============*/

  .body-login {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

.login {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}

.login h1 {
  text-align: center;
  margin-bottom: 30px;
}

.login a {
  text-decoration: none;
  color: lightblue;
}

.btn-login {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn-login {
  outline: 0;
}

.btn-login {
  transform: scale(0.98);
}

.text-login {
  margin-top: 30px;
}

.form-control-login {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control-login input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control-login input:focus,
.form-control-login input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control-login label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control-login label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control-login input:focus + label span,
.form-control-login input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

  
  
  
  